/* Inicio de estilo RESPONSIVE para CELULAR */

@media screen and (max-width: 480px) {
  
  /* Sección 1 */

  .contenedor-titulo {
    max-width: 50%;
    margin-bottom: 54vw;
  }

  .titulo-principal {
    font-size: 8vw;
  }
  
  .contenedor-lista {
    font-size: 5vw;
  }
  
  .contenedor-lista li {
    padding-bottom: 9vw;
  }

  .go-top-container {
    width: 40px;
    height: 40px;
  }

  .go-top-button {
    font-size: 16px;
  }

  /* Sección 3 */

  .imagen-proyecto {
    width: 80%;
    height: 80%;
  }

  .link-proyecto, .link-proyecto2 {
    font-size: 2.5vw;
    text-shadow: 1px 2px 2px #e74d4d;
  }

  /* Sección 4 */

  .icon-contacto {
    font-size: 7vw;
    margin: 2vw;
  }
  
}

/* Fin de estilo para CELULAR */