/* Inicio de estilo RESPONSIVE para TABLET */

@media only screen and (min-width: 480px) and (max-width: 780px) {

  /* Botón go top */

  .go-top-container {
    width: 36px;
    height: 36px;
    right: 12px;
    bottom: 12px;
  }

  .go-top-button {
    font-size: 18px;
  }

  /* Sección 1 */

  .contenedor-titulo {
    max-width: 50%;
    margin-bottom: 12vw;
  }

  .titulo-principal {
    font-size: 8vw;
  }
  
  .contenedor-lista {
    font-size: 4vw;
  }
  
  .contenedor-lista li {
    padding-bottom: 4vw;
  }

  /* Sección 3 */

  .link-proyecto, .link-proyecto2 {
    font-size: 18px;
    text-shadow: 1px 2px 2px #e74d4d;
  }

  /* Sección 4 */

  .icon-contacto {
    font-size: 6vw;
    margin: 2vw;
  }
  
  /* Formulario */
  
  .formulario-gmail {
    font-size: 12px;
  }
  
  .contenedor-formulario {
    width: 90%;
    height: 90%;
  }
  
  .formulario-input::placeholder, .formulario-textarea::placeholder {
    font-size: 10px;
  }

}

/* Fin de estilo para TABLET */