* {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  overflow: hidden;
  font-family: 'Proza Libre';
}
